@model WebProject.ViewModels.Users.EditVM
@{
    this.Layout = "/Views/Shared/_Site.cshtml";
    ViewData["title"] = "EDIT USERS";
}

<head>
    <link href="~/create-edit-song.css" rel="stylesheet" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
          integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=League+Spartan:wght@200&family=Open+Sans:wght@300&family=Source+Sans+3:wght@500&display=swap" rel="stylesheet">
</head>

<div class="sg-content" style="height: auto;">
    <fieldset>
        <legend>Edit Profile Details</legend>
        <form action="/Users/Edit" method="post">
            @Html.HiddenFor(m => m.Id)
            <div class="sg-form-inner">
                <div class="sg-input">
                    <div class="col-1">
                        @Html.LabelFor(m => m.Username)
                    </div>
                    <div class="col-2">
                        @Html.TextBoxFor(m => m.Username)
                    </div>
                    <div class="col-2">
                        @Html.ValidationMessageFor(m => m.Username)
                    </div>
                </div>
                <div class="sg-input">
                    <div class="col-1">
                        @Html.LabelFor(m => m.Password)
                    </div>
                    <div class="col-2">
                        @Html.PasswordFor(m => m.Password)
                    </div>
                    <div class="col-2">
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                </div>
                <div class="sg-input">
                    <div class="col-1">
                        @Html.LabelFor(m => m.FirstName)
                    </div>
                    <div class="col-2">
                        @Html.TextBoxFor(m => m.FirstName)
                    </div>
                    <div class="col-2">
                        @Html.ValidationMessageFor(m => m.FirstName)
                    </div>
                </div>
                <div class="sg-input">
                    <div class="col-1">
                        @Html.LabelFor(m => m.LastName)
                    </div>
                    <div class="col-2">
                        @Html.TextBoxFor(m => m.LastName)
                    </div>
                    <div class="col-2">
                        @Html.ValidationMessageFor(m => m.LastName)
                    </div>
                </div>

            </div>

            <div>
                @Html.ValidationMessage("summaryError")
            </div>

            <div class="sg-btns">
                <input type="submit" id="sg-save" value="Save" />
                <a  id="sg-back" href="/Users/Index" >Back</a>
            </div>
        </form>
    </fieldset>
</div>