@model WebProject.ViewModels.Home.RegisterVM
@{
    this.Layout = "/Views/Shared/_Site.cshtml";
    ViewData["title"] = "Register";
}

<div class="container-login">
    <div class="form-outer-outer">
        <div class="form-outer">
            <h1>Register</h1>

            <form action="/Home/Register" method="post">

                <div class="form-input">
                    <span class="icon"><i class="fa fa-id-card" aria-hidden="true"></i></span>
                    @Html.TextBoxFor(m => m.Username)
                </div>
               

                <div class="form-input">
                    <span class="icon"><i class="fa fa-id-card" aria-hidden="true"></i></span>
                    @Html.PasswordFor(m => m.Password)

                </div>
               

                <div class="form-input">
                    <span class="icon"><i class="fa fa-id-card" aria-hidden="true"></i></span>
                    @Html.PasswordFor(m => m.rPassword)
                </div>
               

                <div class="form-input">
                    <span class="icon"><i class="fa fa-id-card" aria-hidden="true"></i></span>
                    @Html.TextBoxFor(m => m.FirstName)

                </div>
                

                <div class="form-input">
                    <span class="icon"><i class="fa fa-id-card" aria-hidden="true"></i></span>
                    @Html.TextBoxFor(m => m.LastName)

                </div>

                


                <div class="field-validation-error-div">
                    @Html.ValidationMessage("retypeError")
                    @Html.ValidationMessage("emptyInput")
                </div>

                <div>
                    <input id="submit-register-btn" type="submit" value="Sign Up" />
                </div>
                
            </form>
        </div>
    </div>

</div>
