@using WebProject.Entities
@using WebProject.ExtentionMethods
@{
    User loggedUser = this.ViewContext.HttpContext.Session.GetObject<User>("loggedUser");
    var controller = @ViewContext.RouteData.Values["controller"].ToString();
    var action = @ViewContext.RouteData.Values["action"].ToString();

}

<html>
<head>
    <title>@ViewData["title"]</title>
    <link href="~/site.css" rel="stylesheet" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="header">
            <div class="title">
                <h1><a href="/Home/Index">WPotify</a></h1>
            </div>
            
            <div class="container">
                <ul class="menu">
                    <!-- Home button dissappears when current view is home/index -->
                    @if (controller.ToLower() != "home" || action.ToLower() != "index")
                    {
                        <li><a href="/Home/Index">HOME</a></li>
                    }

                    @if (loggedUser != null)
                    {
                        <li><a href="/Users/Index">USERS</a></li>
                        <li><a href="/Songs/Index">SONGS</a></li>
                        <li>
                            <a> @loggedUser.Username.ToUpper()</a>
                            <ul id="dropMenu">
                                <li><a href="">Profile</a></li>
                                <li><a href="/Home/Logout">Logout</a></li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li><a href="/Home/Login">LOGIN</a></li>
                        <li><a href="/Home/Register">REGISTER</a></li>
                    }

                </ul>
                
                

            </div>
        


        </div>
    
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>