@model WebProject.ViewModels.Playlists.CreateVM
@{
    this.Layout = "/Views/Shared/_Site.cshtml";
    ViewData["title"] = "CREATE PLAYLISTS";
}
<head>
    <link href="~/create-edit-song.css" rel="stylesheet" />
</head>
<div class="sg-content">
    <fieldset>
        <legend>Create New Playlist</legend>
        <form action="/Playlists/Create" method="post">
            @Html.HiddenFor(m => m.OwnerId)
            <div class="sg-form-inner">
                <div class="sg-input">
                    <div>
                        @Html.LabelFor(m => m.Name)
                    </div>
                    <div>
                        @Html.TextBoxFor(m => m.Name)
                    </div>
                    <div>
                        @Html.ValidationMessageFor(m => m.Name)
                    </div>
                </div>

                <div>
                    @Html.ValidationMessage("summaryError")
                </div>

                <div class="sg-btns">
                    <input type="submit" id="sg-save" value="Save" />
                    <a href="/Playlists/Index" id="sg-back">Back</a>
                </div>
            </div>
        </form>
    </fieldset>
</div>
