@model WebProject.ViewModels.Playlists.EditVM
@{
    this.Layout = "/Views/Shared/_Site.cshtml";
    ViewData["title"] = "EDIT PLAYLISTS";
}
<head>
    <link href="~/create-edit-song.css" rel="stylesheet" />
</head>
<div class="sg-content">
    <fieldset>
        <legend>Rename the Playlist</legend>
        <form action="/Playlists/Edit" method="post">
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.OwnerId)
            <div class="sg-form-inner">
                <div class="sg-input">
                    <div>
                        @Html.LabelFor(m => m.Name)
                    </div>
                    <div>
                        @Html.TextBoxFor(m => m.Name)
                    </div>
                    <div>
                        @Html.ValidationMessageFor(m => m.Name)
                    </div>
                </div>

                <div class="sg-btns">
                    <input id="sg-save" type="submit" class="right" value="Save" />
                    <a id="sg-back" href="/Playlists/Index" class="right">Back</a>
                </div>
            </div>
        </form>
    </fieldset>
    </div>
    